/* text*/
.text-center{
    text-align: center;
}
.heading-small{
    font-size:1.25rem ;
}
.heading-medium{
    font-size: 1.5rem;
}
.heading-big{
    font-size: 1.75rem;
}
/*colors*/
.dark{
    background:#8b4513 ;
}
.light{
    background: #ffe4c4;
}
.hizmetler{
    margin: 50px;
    padding: 50px 50px 50px 10;
    height: 700px;
}
.metin{
    text-align: left;
    height: 1000px;
}
.hizmet{
    float: right;
}
.icons{
    display: flex;
}
.icon1{
    width: 450px;
    align-items: center;
    padding-left:200px ;
    margin-left: 50px;
    margin-top: 200px;
}
.icon2{
    width: 550px;
    align-items: center;
    padding-left:200px ;
    margin-left: 50px;
    margin-top: 200px;
}
.icon-image1{
    width: 100px;
    margin-left: 90px;
    margin-bottom: 10px;
}
.icon-image2{
    width: 100px;
    margin-left: 145px;
    margin-bottom: 10px;
}

